@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #5c1f06;
  font-family: 'Titillium Web', sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: auto; 
  min-height: 100vh; 
}

.centered-div {
  width: 80%;
  height: auto; 
  min-height: 100vh; 
  background-color: #fff; 
}

h1 {
  color: #d97852;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}